/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-homeText: #f2dfcb;
  --color-homeLine: #5c462f;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-logoImg: 35px;
  --size-basicSpace: 8px;
}

/* Universal Tags */

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.section {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  padding-top: 30px;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
  text-align: center;
}

.back-to-position {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  /* transition: 1s; */
}

.back-to-position.to-left {
  transform: translateX(150px);
}

.back-to-position.to-right {
  transform: translateX(-150px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}

.show .back-to-position.delay-0 {
  transition-delay: 0;
}

.show .back-to-position.delay-1 {
  transition-delay: 0.3s;
}

.show .back-to-position.delay-2 {
  transition-delay: 0.6s;
}

.show .back-to-position.delay-3 {
  transition-delay: 0.9s;
}

/* NavBar */

.navBar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: var(--color-homeText);
  background-color: transparent;
  position: fixed;
  transition: background 250ms ease-in;
  z-index: 1;
}

.navBar__logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: var(--size-logoImg);
  height: var(--size-logoImg);
  margin-right: var(--size-basicSpace);
  border-radius: 50%;
}

.logo__text {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-homeText);
  cursor: pointer;
}

.navBar__menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 8px 12px;
  padding-bottom: 4px;
  margin: 0 4px;
  font-weight: var(--weight-semi-bold);
  transition: all 300ms ease-in;
  cursor: pointer;
  position: relative;
}

.menu__item:hover,
.menu__item.active {
  color: var(--color-homeLine);
}

.menu__item.special {
  color: var(--color-orange);
}

.menu__item .menu__item__bar {
  width: 100%;
  height: 2px;
  background-color: var(--color-homeLine);
  transform: scaleX(0);
  transition: all 300ms ease-in;
}

.menu__item.special .menu__item__bar {
  background-color: var(--color-orange);
}

.menu__item:hover .menu__item__bar,
.menu__item.active .menu__item__bar {
  transform: scaleX(1);
}

.navBar--dark {
  padding: 16px;
  color: var(--color-light-grey);
  background-color: var(--color-white);
}

.navBar--dark .logo__text,
.navBar--dark .navBar__toggleBtn {
  color: var(--color-dark-grey);
}

.navBar--dark .menu__item.active {
  color: var(--color-black);
}

.navBar--dark .menu__item.special.active {
  color: var(--color-orange);
}

.navBar--dark .menu__item__bar {
  background-color: var(--color-black);
}

.navBar__toggleBtn {
  display: none;
  font-size: var(--font-medium);
  color: var(--color-homeText);
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 20px;
  right: 16px;
}

.navBar--dark .menu__item:hover {
  color: var(--color-black);
}
.navBar--dark .menu__item.special:hover {
  color: var(--color-orange);
}

.navBar__toggleBtn i {
  cursor: pointer;
}

/* Home */

.home {
  background: url(imgs/background.png) no-repeat center/cover;
}

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 180px 0;
  padding-bottom: 140px;
  overflow: hidden;
}

.home__left {
  position: relative;
  margin-right: 60px;
  z-index: 1;
}

.home__title,
.home__description,
.home__btn a {
  color: var(--color-homeText);
}

.home__description::after {
  content: "";
  display: block;
  position: absolute;
  margin: 10px 0;
  left: 0;
  width: 360px;
  height: 2px;
  background-color: var(--color-homeLine);
}

.home__btn {
  margin: 24px 0;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  border: 1px solid var(--color-homeText);
  border-radius: 4px;
  padding: 2px 6px;
  cursor: pointer;
  transition: all 300ms ease;
}

.home__btn a {
  transition: all 300ms ease;
}

.home__btn:hover,
.home__btn:hover a {
  color: var(--color-homeLine);
  border-color: var(--color-homeLine);
}

.home__avatar {
  width: 280px;
  height: 350px;
  border: 2px solid var(--color-homeText);
  border-radius: 12px;
}

/* About */

.about {
  padding: 30px;
  padding-top: 60px;
}

.about__description {
}

.description__profile,
.description__license {
  flex-grow: 1;
  padding: var(--size-basicSpace);
}

.about__majors {
  display: flex;
  justify-content: space-around;
  margin: 80px 0;
}

.major__img {
  width: 170px;
  height: 170px;
  border: 2px solid var(--color-grey);
  border-radius: 50%;
  margin: auto;
  color: var(--color-grey);
}

.major__img i {
  line-height: 170px;
  font-size: 70px;
}

.major__name,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.major:hover i {
  transform: scale(1.1) rotate(45deg);
  color: var(--color-blue);
  transition: all 300ms ease;
}

.career {
  display: flex;
  align-items: center;
}

.career__img {
  width: 80px;
  height: 80px;
}

.career__textBox {
  margin: 0 var(--size-basicSpace);
  color: var(--color-light-grey);
  text-align: left;
}

.textBox__name {
  font-size: var(--font-small);
}

.textBox__period {
  font-size: var(--font-micro);
}

/* Skills */

.skills {
  background-color: var(--color-yellow);
  padding: 30px;
}

.skillSet {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 80px 0;
}

.tools__title::after,
.etc__title::after {
  content: "";
  display: block;
  width: 70%;
  height: 2px;
  margin: 8px auto 16px;
  background-color: var(--color-orange);
  border-radius: 50%;
}

.skillSet__left__title,
.tools__title,
.etc__title {
  color: var(--color-light-white);
}

.skillSet__left {
  background-color: var(--color-dark-grey);
  flex-basis: 60%;
  padding: 30px 40px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  background-color: var(--color-grey);
  height: 5px;
  margin-top: 5px;
  margin-bottom: 24px;
  border-radius: 8px;
}

.skill__value {
  background-color: var(--color-orange);
  height: 5px;
  border-radius: 8px;
  transition: width 1.5s 100ms ease-out;
}

.skillSet__right {
  flex-basis: 40%;
}

.skillSet__right__tools {
  background-color: var(--color-grey);
  padding: 50px;
}

.skillSet__right__tools .tools__list .tools__list__item {
  margin-bottom: 4px;
}

.skillSet__right__etc {
  padding: 50px;
}

/* My Work */

.myWork {
  padding: 30px;
  padding-top: 60px;
}

.myWork__categories {
  margin: 40px;
}

.categoryBtn {
  background-color: transparent;
  border: 1px solid var(--color-dark-white);
  border-radius: 4px;
  outline: none;
  padding: 8px 48px;
  font-weight: var(--weight-semi-bold);
}

.categoryBtn.active {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.categoryBtn.active .category__count {
  top: 0;
  opacity: 1;
}

.categoryBtn:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.category__count {
  color: var(--color-white);
  background-color: var(--color-orange);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  line-height: 25px;
  margin-left: var(--size-basicSpace);
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  cursor: pointer;
}

.categoryBtn:hover .category__count {
  top: 0;
  opacity: 1;
  transition: all 300ms ease-in;
}

.myWork__projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
  transition: all 300ms ease-out;
}

.myWork__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  width: 290px;
  height: 260px;
  margin: 2px;
  position: relative;
  background-color: var(--color-light-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(10px);
  cursor: pointer;
}

.project:hover .project__description {
  opacity: 0.9;
  transform: translateY(0);
  transition: all 300ms ease-in;
}

.project__description h3 {
  color: var(--color-orange);
  font-weight: var(--weight-semi-bold);
  cursor: pointer;
}

.project__description span {
  color: var(--color-white);
  cursor: pointer;
}

.project__description h3:after {
  content: "";
  background-color: var(--color-white);
  width: 50px;
  height: 2px;
  margin: 8px auto;
  display: block;
}

/* Testimonials */

.testimonial {
  background-color: var(--color-light-white);
  padding: 30px;
}

.testimonial__container {
  margin: 80px 0;
}

.testimonial__speechBubble {
  margin: 40px 0;
  display: flex;
}

.speechBubble__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.speechBubble__img:nth-child(even) {
  margin-left: 40px;
}

.speechBubble__img:nth-child(odd) {
  margin-right: 40px;
}

.speechBubble__text {
  background-color: var(--color-white);
  padding: 4px 30px;
  border-radius: 4px;
}

.speechBubble__text p {
  color: var(--color-light-grey);
}

.speechBubble__text p a {
  color: var(--color-blue);
  cursor: pointer;
}

/* Contact */

.contact {
  background-color: #ff623b;
  color: var(--color-homeText);
  text-align: center;
  padding: 30px;
}

.contact__title,
.contact__email,
.contact__link {
  color: var(--color-homeText);
}

.contact__title {
  margin: 32px 0;
}

.contact__link i {
  font-size: var(--font-large);
  margin: 12px 0;
  cursor: pointer;
}

.contact__link i:hover {
  color: purple;
  transform: scale(1.1);
  transition: all 300ms ease-in;
}

/* Arrow Up Button */

.arrowBtn {
  position: fixed;
  right: 25px;
  bottom: 30px;
  background-color: #ff623b;
  display: block;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  font-size: var(--font-regular);
  color: var(--color-white);
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease;
}

.arrowBtn i {
  cursor: pointer;
}

.arrowBtn.visible {
  opacity: 1;
  pointer-events: auto;
}

/* Responsive */

@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .section {
    padding: 16px;
    padding-top: 60px;
  }

  .skills,
  .testimonial {
    padding: 0;
  }

  .myWork__categories {
    margin: 30px;
  }

  .myWork__projects {
    margin-bottom: 40px;
  }

  .about__majors {
    margin-top: 30px;
    margin-bottom: 12px;
  }

  .navBar {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: 350ms ease-out;
  }

  .navBar.open {
    height: 310px;
    color: var(--color-white);
    background-color: var(--color-black);
    padding-bottom: 30px;
    opacity: 0.9;
  }

  .navBar__logo {
    position: absolute;
    top: 13px;
    left: 12px;
  }

  .navBar.open .navBar__logo .logo__text,
  .navBar.open .navBar__toggleBtn {
    color: var(--color-white);
  }

  .navBar__menu {
    display: none;
    width: 100%;
    margin-top: 48px;
    flex-direction: column;
    text-align: center;
  }

  .navBar.open .navBar__menu {
    display: block;
  }

  .navBar.open .menu__item:hover,
  .navBar.open .menu__item.special:hover {
    color: var(--color-light-grey);
  }

  .navBar.open .menu__item.special {
    color: var(--color-white);
  }

  .navBar.open .menu__item.active,
  .navBar.open .menu__item.special.active {
    color: var(--color-orange);
  }

  .navBar.open .menu__item__bar {
    background-color: var(--color-dark-grey);
  }

  .navBar.open .menu__item.active .menu__item__bar {
    transform: scaleX(0);
  }

  .navBar__toggleBtn {
    display: block;
  }

  .homeContainer {
    flex-direction: column-reverse;
    padding: 12px;
    padding-top: 100px;
  }

  .home__avatar {
    width: 220px;
    height: 220px;
    border-radius: 50%;
  }

  .home__left {
    text-align: center;
    margin: auto;
  }

  .home__description:after {
    width: 100%;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: calc(var(--size-basicSpace) * 2);
  }

  .major:hover i {
    transform: none;
    transition: none;
    color: var(--color-black);
  }

  .major__img:hover i {
    transform: scale(1.1) rotate(45deg);
    color: var(--color-blue);
    transition: all 300ms ease-out;
  }

  .skillSet {
    flex-direction: column;
  }

  .tools__title::after,
  .etc__title::after {
    width: 30%;
  }

  .myWork__categories {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .categoryBtn {
    width: 320px;
    margin-bottom: var(--size-basicSpace);
  }

  .project {
    flex-grow: 1;
  }

  .testimonial__speechBubble:nth-child(odd) {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__speechBubble:nth-child(even) {
    flex-direction: column-reverse;
    align-items: center;
  }

  .speechBubble__img:nth-child(odd) {
    margin-right: 0;
    margin-bottom: var(--size-basicSpace);
  }

  .speechBubble__img:nth-child(even) {
    margin-left: 0;
    margin-bottom: var(--size-basicSpace);
  }
}
